@{
    Layout = "./_Layout";
    var path = ViewContext.HttpContext.Request.Path;
}
@RenderBody()
<center>
            @if (Model.HasPreviousPage) 
            {
                <a href="@path?page=@Model.PreviousPage" class="btn btn-primary">←</a>
            }
            else 
            {
                <a class="btn btn-primary" disabled>←</a>
            }
            <span>@Model.CurrentPage</span>
            @if (Model.HasNextPage) 
            {
                <a href="@path?page=@Model.NextPage" class="btn btn-primary">→</a>
            }
            else
            {
                <a class="btn btn-primary" disabled>→</a>
            }
</center>