@{
    Layout = "./_Layout";
    var path = ViewContext.HttpContext.Request.Path;
}
@RenderBody()
<center>
            @if (Model.HasPreviousPage) 
            {
                <a href="@path?page=@Model.PreviousPage" class="btn">Previous</a>
            }
            else 
            {
                <a class="btn" disabled>Previous</a>
            }
            <form onsubmit="return this.checkValidity()" style="display:inline-block;">
                <input 
                    type="text" 
                    name="page" 
                    value=@Model.CurrentPage 
                    pattern="[1-9][0-9]*" 
                    onchange="if (this.checkValidity()) this.form.submit();" 
                    style="width:15px;"
                ></input>
            </form>
            @if (Model.HasNextPage) 
            {
                <a href="@path?page=@Model.NextPage" class="btn">Next</a>
            }
            else
            {
                <a class="btn" disabled>Next</a>
            }
</center>