@model Chirp.Razor.Pages.PublicModel
@using Chirp.Razor.Pages
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@{
    var routeName = ViewContext.HttpContext.GetRouteValue("author");
}

@if (SignInManager.IsSignedIn(User))
{
    Author? author = await UserManager.GetUserAsync(User);
    string authorName = author!.Name;

    <div class="cheepbox">
        <h3>What's on your mind @authorName?</h3>

        <form method="post">
            <!-- Playwright expects THIS element -->
            <textarea id="post-input"
                      name="Message"
                      style="width: 100%; height: 60px;"></textarea>

            <!-- Playwright expects THIS button -->
            <button id="post-button" type="submit">Share</button>

            <!-- routeName if needed by your handler -->
            <input type="hidden" name="routeName" value="@routeName" />
        </form>
    </div>
}
else
{
    <p>You must be logged in to post.</p>
}
