name: PR notification

on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize', 'ready_for_review']
    branches: [ "main" ]

jobs:
  notify:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      uses: Ilshidur/action-discord@0.4.0
      with:
        args: '@everyone Pull Request ready for review: ${{ github.server_url }}/${{ github.repository }}/pull/${{ github.event.number }}'