name: Publish

on:
  push:
    tags:
      - 'v*.*.*'


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Ensure browsers are installed
      run: pwsh test/Razor.Tests/bin/Debug/net8.0/playwright.ps1 install --with-deps
    - name: Test
      run: dotnet test --no-build --verbosity normal
  release:
    name: Release
    strategy:
      matrix:
        target: ["linux-x64", "win-x64", "osx-x64"]
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Build
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          release_name="Chirp-$tag-${{ matrix.target }}"

          # Build everything
          dotnet publish --runtime "${{ matrix.target }}" -c Release -o "$release_name"

          # Pack files
          zip -r "$release_name.zip" "$release_name"

          # Delete output directory
          rm -r "$release_name"

      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          files: "Chirp*.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}